@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @if (ViewBag.ListaProdutos3 != null)
    {
        foreach (var item in ViewBag.ListaProdutos3)
        {
            <div class="col-md-4">
                <h3>@Html.Raw(item.Tipo)</h3>
                <h2>@Html.Raw(item.Nome) - @Html.Raw(item.Preco)</h2>
                <p>
                    @Html.Raw(item.Descricao)
                </p>
                <p>
                    Marca: @Html.Raw(item.Marca)
                </p>
            </div>
        }
        
    }
</div>